<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">

  <title>
    {% assign title_is_not_empty = page.title | is_not_empty %}
    {% if title_is_not_empty %}
    {% unless page.title == "Home" %}
    {{ page.title }} -
    {% endunless %}
    {% endif %}
    {{ site.title }}
  </title>

  <meta name="description" content="{{ site.description }}">

  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="alternate" type="application/rss+xml" href="{{ '/feed.xml' | relative_url }}" title="RSS 2.0"/>
  <link rel="sitemap" href="{{ 'sitemap.xml' | relative_url }}" type="application/xml" />
</head>

<body class="dark:bg-gray-900"></body>
  <div class="container mx-auto max-w-4xl flex flex-col min-h-screen px-4">
    {% include header.html %}

    <main class="flex-1">
      {{ content }}
    </main>
    {% include footer.html %}
  </div>

  <script src="{{ 'assets/js/main.js' | relative_url }}"></script>
</body>

</html>