<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">

  <title>
    {% assign title_is_not_empty = page.title | is_not_empty %}
    {% if title_is_not_empty %}
    {% unless page.title == "Home" %}
    {{ page.title }} -
    {% endunless %}
    {% endif %}
    {{ site.title }}
  </title>

  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.description }}">

  {% include open-graph-tags.html %}

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="icon" type="image/x-icon" href="{{ '/assets/images/favicon.ico' | absolute_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" href="{{ '/feed.xml' | absolute_url }}" title="RSS 2.0" />
  <link rel="sitemap" href="{{ 'sitemap.xml' | absolute_url }}" type="application/xml" />
  {% include ga.html %}
</head>

<body class="bg-gray-200 dark:bg-gray-950">
  <div class="container mx-auto max-w-4xl flex flex-col min-h-screen px-4">
    {% include header.html %}

    <main class="flex-1 mt-1 md:mt-3">
      {{ content }}
    </main>

    {% include footer.html %}
  </div>

  <script src="{{ 'assets/js/main.js' | absolute_url }}"></script>

  <!-- 100% privacy-first analytics -->
  <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
  <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt=""
      referrerpolicy="no-referrer-when-downgrade" /></noscript>
</body>

</html>